<%- concert = favorite.concert %>
<article class="my-2 bg-gray-200 p-3 rounded-lg" id="<%= dom_id(favorite) %>">
  <div class="grid gap-4 grid-cols-1 md:grid-cols-6 text-center md:text-left">
    <div class="col-span-1 text-xl">
      <%= concert.start_time.by_example("Jan 02 @ 3:04 PM") %>
    </div>
    <div class="col-span-1 md:col-span-3">
      <div class="name">
        <div class="text-lg font-bold">
          <%= link_to( concert.name,
            concert,
            data: {"turbo-frame": "_top"} ) %>
        </div>
      </div>
      <div class="bands">
        <%= concert.bands.map(&:name).join(", ") %>
      </div>
      <div class="genres">
        <%= concert.genre_tags.split(",").to_sentence %>
      </div>
      <div class="text-gray-500 font-bold">
        <%= concert.venue.name %>
      </div>
    </div>
    <div class="col-span-1 md:col-span-2 text-xl">
      <span></span>
      <br>
      <div class="flex justify-center">
        <%= button_to(
              "Remove Favorite",
              favorite_path(id: favorite.id),
              method: "delete",
              class: SimpleForm.button_class
            ) %>
      </div>
    </div>
  </div>
</article>
